---
const softSkills = [
    { name: "Communication", percentage: 80 },
    { name: "Teamwork", percentage: 85 },
    { name: "Adaptability", percentage: 80 },
    { name: "Problem Solving", percentage: 75 },
    { name: "Creativity", percentage: 75 },
    { name: "Leadership", percentage: 65 },
    { name: "Time Management", percentage: 80 },
    { name: "Critical Thinking", percentage: 70 }
];
const hardSkills = [
    { name: "Java", icon: "/assets/icons/Java.svg", percentage: 80 },
    { name: "Python", icon: "/assets/icons/Python.svg", percentage: 65 },
    { name: "JavaScript", icon: "/assets/icons/JavaScript.svg", percentage: 70 },
    { name: "Kotlin", icon: "/assets/icons/Kotlin.svg", percentage: 75 },
    { name: "MySQL", icon: "/assets/icons/MySQL.svg", percentage: 80 },
    { name: "PostgreSQL", icon: "/assets/icons/PostgreSQL.svg", percentage: 70 },
    { name: "Astro", icon: "/assets/icons/Astro.svg", percentage: 70 },
    { name: "TailwindCSS", icon: "/assets/icons/TailwindCSS.svg", percentage: 65 },
    { name: "Spring", icon: "/assets/icons/Spring.svg", percentage: 70 },
    { name: "React", icon: "/assets/icons/React.svg", percentage: 70 },
    { name: "Django", icon: "/assets/icons/Django.svg", percentage: 65 }
    
];
---

<section class="text-xl">
    <p class="mb-5" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);">
        Hello, I'm <strong class="text-violet-400">Eric</strong>, a passionate and dedicated <strong class="text-violet-400">student</strong> specializing in <strong class="text-violet-400">Cross-Platform Application Development</strong>. With a strong foundation in both <strong class="text-violet-400">web development</strong> and <strong class="text-violet-400">machine learning</strong>, I am constantly exploring and adopting new <strong class="text-violet-400">technologies</strong> to enhance my skill set. I thrive on the challenge of creating <strong class="text-violet-400">efficient</strong>, <strong class="text-violet-400">scalable</strong>, and <strong class="text-violet-400">user-friendly</strong> applications, and I am committed to continuously refining my abilities through hands-on projects.
    </p>
    <p class="mb-5" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);">
        Although I am currently pursuing my formal education, I am also an avid <strong class="text-violet-400">self-learner</strong>, constantly seeking to expand my knowledge and skills beyond the classroom. This dual approach allows me to stay ahead of the curve and adapt to the ever-changing tech landscape.
    </p>
    <p class="mb-20" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);">
        In my free time, I enjoy engaging in <strong class="text-violet-400">video games</strong> and <strong class="text-violet-400">cinema</strong>, activities that fuel my creativity and help me maintain a healthy balance between my professional and personal life. I am also a huge animal lover, and I take great joy in helping animals I find on the streets by finding them a loving home. I have two cats, <strong class="text-violet-400">Loki</strong> and <strong class="text-violet-400">Wanda</strong>, who are a big part of my life.
    </p>
    
    <div class="flex flex-col md:flex-row justify-between mt-10 space-y-6 md:space-y-0">
        <div class="w-full md:w-1/2 pr-0 md:pr-4">
            <h2 class="text-xl font-bold mb-3 text-violet-400 border-b-2 border-violet-400 animate-pulse">Soft Skills</h2>
            <ul class="list-none list-inside text-base space-y-4">
            {softSkills.map(skill => (
                <li class="mb-4">
                    <div class="flex justify-between items-center mb-2">
                        <span class="text-white">{skill.name}</span>
                        <span class="text-white">{skill.percentage}%</span>
                    </div>
                    <div class="w-full bg-gray-700 rounded-full h-2.5">
                        <div class="bg-green-400 h-2.5 rounded-full" style={{ width: `${skill.percentage}%` }}></div>
                    </div>
                </li>
            ))}
            </ul>
        </div>
        
        <div class="w-full md:w-1/2 pl-0 md:pl-4">
            <h2 class="text-xl font-bold mb-3 text-violet-400 border-b-2 border-violet-400 animate-pulse">Technical Skills</h2>
            <ul class="list-none list-inside text-base space-y-4">
            {hardSkills.map(skill => (
                <li class="mb-4">
                    <div class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <img src={skill.icon} alt={skill.name} class="w-8 h-8 mr-2 rounded-sm" />
                            <span class="text-white">{skill.name}</span>
                        </div>
                        <span class="text-white">{skill.percentage}%</span>
                    </div>
                    <div class="w-full bg-gray-700 rounded-full h-2.5">
                        <div class="bg-green-400 h-2.5 rounded-full" style={{ width: `${skill.percentage}%` }}></div>
                    </div>
                </li>
            ))}
            </ul>
        </div>
    </div>
    </div>
</section>