---
const PROJECTS = [
    {
        title: "My Personal Portfolio - Designed and Built from Scratch",
        description: 
            "A personal portfolio designed and built from scratch to showcase my skills, experience, and projects. " +
            "Focused on clean design, intuitive navigation, and a well-structured layout to deliver a seamless user experience.",
        link: "http://localhost:4321/",
        github: "https://github.com/ShadeCoder7/Portfolio",
        image:"/Projects-photo/Project-1-photo.webp",
        tags: ["Astro", "TailwindCSS", "HTML", "CSS", "JavaScript"]
    },
    {
        title: "Credit Card Fraud Detection - Leveraging Machine Learning for Enhanced Security",
        description: 
        "Developed an AI-powered solution for credit card fraud detection. " 
        + "Focused on data cleaning, statistical analysis, visualization, and training machine learning models, achieving high accuracy in identifying fraudulent transactions.",
        link: "",
        github: "https://github.com/ShadeCoder7/credit-card-fraud-detection",
        image:"/Projects-photo/Project-2-photo.webp",
        tags: ["Python", "Pandas", "Numpy", "Matplotlib", "Seaborn"]
    },
    {
        title: "School Management System - Enhancing Educational Processes",
        description: 
        "Designing and developing a comprehensive school management system to enhance educational processes. " 
        + "Focused on delivering user-friendly and efficient solutions for managing school activities, student records, and administrative tasks.",
        link: "",
        github: "",
        image: "",
        placeholder: "Estamos trabajando en ello. Próximamente habrá imágenes disponibles.",
        tags: ["Figma", "MySQL", "Django", "Python", "React", "JavaScript", "HTML", "CSS"]
    },
    {
        title: "Culinary Social Network - Building a Community for Food Enthusiasts",
        description: 
        "Creating a culinary-focused social network to build a vibrant community for sharing recipes and culinary experiences. " 
        + "Focused on fostering connections, sharing knowledge, and creating engaging culinary content.",
        link: "",
        github: "",
        image:"",
        tags: ["Java", "MySQL", "JavaScript", "HTML", "CSS", "Postman"]
    }
]
---

{
    PROJECTS.map(({image, title, description, tags, github}) => (
    <article class="mb-20">
        <h3 class="text-2xl font-semibold text-yellow-200 text-opacity-80 mb-2">{title}</h3>
        <p class="text-lg mb-4">{description}</p>
        <ul class="flex list-none flex-wrap mb-4">
            {tags.map(tag => (
                <li class="flex items-center rounded-full border border-white border-opacity-30 p-1 mr-2 bg-gray-800 mb-2">
                    <img src={`/assets/icons/${tag}.svg`} alt={`${tag} icon`} class="w-4 h-4 ml-1 mr-1 rounded-xl" onerror="this.onerror=null; this.style.display='none';" />
                    <span class="mr-1">{tag}</span>
                </li>
            ))}
        </ul>
        
        {image ? (
            <img
            class="rounded shadow-white/10 shadow-opacity-10 shadow-lg"
            src={image} 
            alt={`Screenshot of the project ${title}`} 
            onerror="this.style.display = 'none'"
            />
        ) : (
            <div class="bg-transparent text-white rounded-lg shadow-2xl p-8 mt-8 text-center border border-transparent">
                <h2 class="text-xl text-yellow-200 opacity-80 font-bold mb-4">Photos coming soon...</h2>
                <p class="text-lg opacity-60">We are currently working on this project!</p>
            </div>
        )}
        {github && (
            <a href={github} target="_blank" class="inline-block border border-white border-opacity-30 mt-7 mb-4 px-4 py-2 bg-gray-800 text-white rounded-full hover:bg-blue-700 transition">
                View on GitHub
            </a>
        )}
    </article>
    ))
}